html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
  font-family: Raleway, sans-serif;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header nav {
  display: flex;
  flex-direction: row;
  height: 40px;
  text-align: center;
}
header img {
  max-width: 80px;
  max-height: 40px;
  margin-left: 20px;
}
header p {
  width: 150px;
  height: 80px;
  text-align: center;
}
header a {
  color: black;
  text-decoration: none;
  border-top: 2px solid transparent;
  margin-top: 0px;
  padding-top: 20px;
}

header a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

/*body*/
body {
  margin: 0px;
}
/*h1*/
#title {
  font-size: 24;
  font-weight: 600;
  padding-left: 20px;
}

/* subtitle */
#subtitle p {
  text-indent: 20px;
  font-weight: 200;
  font-size: 16;
}

.mobile {
  display: none !important; 
}

/* location */
#location,
#location div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}
#location-icon i {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 50px;
  height: 60px;
  border: 1px solid #f2f2f2;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #f2f2f2;
}
#location p {
  display: flex;
  align-items: center;
  text-indent: 20px;
  height: 60px;
  width: 250px;
  font-weight: 600;
  border: 1px solid #f2f2f2;
}
.search-button {
  display: flex;
  align-items: center;
  padding-inline-end: 10px;
  width: auto;
  height: 60px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #0065fc;
  font-weight: 600;
  color: white;
}

.search-button i {
  background-color: #0065fc;
  color: #f2f2f2;
}

/* filters */
#filters,
#filters div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
}
#filters p i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #ddebff;
}
#filters p {
  display: flex;
  align-items: center;
  width: auto;
  height: 50px;
  border: 2px solid #f2f2f2;
  border-radius: 40px;
  font-weight: 600;
  padding-inline-end: 10px;
}
#filters h2 {
  font-size: 20;
  padding: 4px;
  font-weight: 600;
}
.icon-filter {
  color: #0065fc;
}

/* quanity */
#quantity div {
  display: flex;
  flex-direction: row;
}
#quantity p {
  font-weight: 200;
  max-width: 420px;
  padding-left: 20px;
}
#quantity i {
  width: 25px;
  height: 25px;
  border: 1px solid #f2f2f2;
  border-radius: 100%;
  align-items: center;
  text-align: center;
}
.icon-info {
  color: #0065fc;
}

/* accomodation-section */
#accomodations-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*accomodations*/
#accomodations {
  border-radius: 20px;
  background-color: #f2f2f2;
  width: 68%;
  margin-left: 20px;
  margin-bottom: 30px;
  padding: 30px;
}
#accomodations h1 {
  font-size: 24;
  font-weight: 600;
}
#listings {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-between;
  margin-bottom: 40px;
}
#listings article {
  background-color: white;
  border-radius: 20px;
  width: 30%;
  box-shadow: 0 0 5px #ddebff;
  display: flex;
  flex-direction: column;
}
#hotel_listing img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  min-width: 195px;
  max-height: 130px;
  padding: 5px;
  object-fit: cover;
}
#hotel_listing h1 {
  font-size: 14;
  max-width: 200px;
  padding-left: 15px;
  line-height: 2px;
}
#hotel_listing p {
  font-size: 12;
  font-weight: 300;
  padding-left: 15px;
  line-height: 2px;
}
.bold {
  font-weight: 600;
}
.fa-active {
  color: #0065fc;
}
.fa-inactive {
  color: #c9caca;
}

/* most popular */
#most_popular {
  width: 26%;
  border-radius: 20px;
  background-color: #f2f2f2;
  margin-right: 20px;
  margin-bottom: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#most_popular article {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 5px #ddebff;
  height: 25%;
}
#popular-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#popular_hotel img {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  width: 40%;
  padding: 5px;
  object-fit: cover;
}
#popular_hotel h1 {
  font-size: 14;
  padding-left: 15px;
}
#popular_hotel p {
  font-size: 12;
  font-weight: 300;
  padding-left: 15px;
}
#popular h1 {
  display: flex;
  justify-content: space-between;
  font-size: 24;
}

/*activities*/
#activities-city {
  width: 100%;
  margin-bottom: 20px;
}
#activities-city h1 {
  padding-left: 20px;
}
#activities {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  padding: 20px;
  height: 450px;
}
.activity-column {
  display: flex;
  flex-direction: column;
  width: 23%;
  gap: 10px;
}
.activity {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 5px #ddebff;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.activity-large {
  height: 60%;
}
.activity-small {
  height: 40%;
}
.activity-small img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 80%;
  width: 100%;
  object-fit: cover;
}
.activity-full img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 92%;
  width: 100%;
  object-fit: cover;
}
.activity-large img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.activity h1 {
  font-size: 14;
  max-width: 200px;
  padding-left: 15px;
  line-height: 2px;
  vertical-align: middle;
}

/* footer */
footer {
  width: 100%;
  display: flex;
}
footer div {
  width: 100%;
  background-color: #f2f2f2;
}
footer h2 {
  font-weight: 600;
  font-size: 18;
  text-indent: 40px;
}
footer li {
  line-height: 40px;
  font-weight: 200;
  list-style: none;
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 320px) {
  
  /*header mobile*/
  header {
    display: flex;
    flex-direction: column;
  }

  /*search-button*/
  .search-button {
    border-radius: 20px;
  }
  .desktop {
    display: none  !important;
  }
  .mobile {
    display: block !important;
  }

  /*filters*/
  #filters {
    flex-wrap: wrap;
  }
  #filters h2 {
    margin: 5px;
  }
  #filters div {
    padding-left: 0px;
    flex-wrap: wrap;
  }
  #filters p {
    margin: 0px;
  }

  /*accomodations section */
  #accomodations-section {
    flex-direction: column-reverse;
  }
  #accomodations-section section {
    margin: 0px;
    padding: 10px;
    flex-direction: column;
  }
  #popular h1 {
    padding: 0px;
  }
  #most_popular {
    width: 100%;
    border-radius: 0px;
    padding: 10px;
  }
  #most_popular article {
    height: 130px;
    margin: 5px;
  }

  #accomodations {
    width: 100%;
    border-radius: 0%;
    background-color: white;
    padding: 10px;
    margin: 0px;
    flex-direction: column;
  }
  #listings {
    flex-direction: column;
  }
  #listings article {
    width: 100%;
  }
  /*activities*/
  #activities {
    flex-direction: column;
    height: auto;
  }
  .activity-column {
    width: 100%;
  }
  .activity-column article {
    height: 140px;
  }
  .activity img {
    height: 70%;
  }
  .activity h1 {
    margin-top: 20px;
  }
  /*footer*/
  footer {
    flex-direction: column;
  }
}
